<!--
    style binding or class binding:
    changes the appearance of ui
    from the component logic
    Controls where a CSS class is
    applied to a given element
    "<h1 [class.gray]="h1Style">"

    [] are for attribute binding
    the ".gray" is for reference to
    a SASS file with a class of gray
    We want to show it based on a given
    prop is true of false. Gray will
    only show if h1Style is true.
    bool prop. will only show if true

    ng class controls multiple classes
    on a given element .Gray will
    only show if h1Style is true.
    bool prop. will only show if true

    ng class controls multiple classes
    on a given element. Uses an object
    to represent a diff CSS class. Properties
    now are classes defined in SCSS
 -->

<!--
     each line represents a different CSS Class
     -->
<!--
 change inline css through the style
 "if it's true" = ?
 "otherwise" = :
     -->
     <!-- users is the property that we defined -->
<h1>Home</h1>

<ul *ngIf="users">
     <li *ngFor="let user of users.data">
          <img [src]="user.avatar">
          <p>{{user.first_name}} {{user.last_name}}</p>
     </li>
</ul>
